.todolist-container {
  width: 600px;
  height: 600px;
  margin: 100px auto;
}

.title {
  text-align: center;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

.btn.add{
  margin-left: 10px;
}

.todoList-content {
  margin-top: 30px;
}

.list-row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.list-row .txt .label {
  padding-left: 10px;
}

.list-row .txt .complete {
  color: #ccc;
  text-decoration: line-through;
}

.del {
  cursor: pointer;
}